/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-boilerplate {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

.wp-container-7 > * {
	max-width: unset !important;
}

.latest-posts-block {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;

	@for $i from 1 through 6 {
		&.has-#{$i}-columns {

			.latest-post {
				width: calc(100% / #{$i} - 20px);
			}
		}
	}
}
